<!DOCTYPE html>
<html layout:decorator="fragments/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <p>EasyCMS is an easy to use Content Management System (CMS).</p>

    <p>It presents a clean UI for editing content stored in a powerful database.</p>

    <p>When a user navigates to /admin/ they'll be prompted to log in, and once authenticated they'll be able to create new content or edit existing content.</p>

    <center><img src="images/folders.jpg"></center>

</div>


</body>
</html>