<!DOCTYPE html>
<html layout:decorator="fragments/layout" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

<div class="container" layout:fragment="content">

    <h3>About SpamExpress</h3>

    <p>The easiest way to reach new unsolicited customers.</p>

    <h3>Frequently Asked Questions</h3>

    <p>Why use our services? Why not?</p>

    <p>How does it cost? Affordable</p>


    <br/>

    <img src="images/letters.gif" width="500"/>


</div>


</body>
</html>